.steps-list__step {
    margin: 10px 0;
    border: 1px solid #cdcdcd;
    padding: 6px 9px;
    border-radius: 3px;
    cursor: pointer;
}
.steps-list__step:hover {
    background-color: #f1f1f1;
}
.steps-list__step--active,
.steps-list__step--active:hover {
    background-color: #caca87;
}
.steps-list__button {
    display: flex;
    justify-content: center;
    align-items: center;
}