.select__label {
    display: block;
    margin-bottom: 5px;
}
.select__title {
    padding: 5px 7px;
    border: 1px solid #bebebe;
    display: inline-block;
    border-radius: 3px;
    padding-right: 25px;
    position: relative;
    cursor: pointer;
}
.select__arrow-down {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 9px;
    top: 9px;
}
.select__title.active .select__arrow-down {
    top: 8px;
    transform: rotate(180deg);
}
.select__title.active .select__dropdown {display: block;}
.select__dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 1px);
    min-width: 100%;
    background: #fff;
    z-index: 1;
    box-shadow: 0px 0px 1px 0px;
    cursor: pointer;
}
.select__dropdown-item {
    padding: 6px 7px;
    border-bottom: 1px solid #bebebe;
}
.select__dropdown-item:hover {
    background-color: #efefef;
}
.select__dropdown-item.last {
    border: none;
}
.select__input {display: none;}