.game {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.game__board {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}
.game__info {
    height: 100%;
    width: 30%;
    min-width: 150px;
    max-width: 300px;
    padding: 10px;
    border-left: 1px solid #d7d7d7;
    overflow: auto;
}
.game__info .select {margin-bottom: 20px;}
.game__status {margin-bottom: 20px;}