.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    cursor: default;
    font-size: 0;
}
.square svg {
    max-width: 100%;
    max-height: 100%;
}
.square--color-black  {background-color: #4c2b13;}
.square--color-white  {background-color: #c2a16e;}
.square--last-clicked {background-color: #0e581a;}

.square--available-hover:hover,
.square--available {background-color: #dfab1c;cursor: pointer;}
.square--available:hover {background-color: #b79023;}

.square--winner {background-color: #5f8417;}