* {box-sizing: border-box;}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

html, body {height: 100%;}

ol, ul {
  padding-left: 30px;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}