.switcher {
    display: flex;
    align-items: center;
}
.switcher__label {
    margin-right: 10px;
}

.switcher__track {
    display: inline-block;
    position: relative;
    width: 50px;
    border-radius: 30px;
    height: 25px;
    border: 2px solid #b5b5b5;
    background-color: #d9d9d9;
    cursor: pointer;
}
.switcher__boll {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: left 0.2s ease-in-out;    
    position: relative;
    left: 1px;
}

.switcher__track.active {
    background-color: #6ca574;
}
.switcher__track.active .switcher__boll {
    left: 25px;
}

.switcher__checkbox {
    display: none;
}